<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p>LOGIN</p>
    <form action="{% url 'postlogin' %}" method="POST">
        
        {% csrf_token %}
        
        <p>email</p><input type="email"  name="email">
        <p>password</p><input type="password" name="password">
        
        <button type="submit">login</button>

    </form>
    <br>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    <form action="{% url  'main' %}" method="GET"><button type="submit">arrow</button></form>
    <br>
    <form action="{% url 'signup' %}" method="POST">
        
        {% csrf_token %}
        
        
        <button type="submit">Signup</button>

    </form>
</body>
</html>